.About-G-aware{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.G-awareInformation{
    /* margin-left: 300px; */
    /* text-align: center; */
    line-height: 1.6;
    color: rgb(19, 18, 18);
    margin-left: 40px;
    padding-top: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.G-awareInformation-abou{
    width: 70%;
    height: 200px;
    /* border: 1px solid black; */
    margin-left: 320px;
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.colorOFG-awre{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    background-color: rgb(196, 7, 238);
    padding-top: 5px;
    margin-top: 20px;
}
.about_Leader{
    width: 900px;
    height: 400px;
    margin-top: 150px;
    margin-left: 420px;
}
.about_Leader_image{
    width: 790px;
    height: 200px;
    margin-left: 480px;
    transform: translateY(-70px);
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.about-allLeader{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 30px;
    line-height: 1.6;
 padding-top: 20px;
}
.about-budget_information{
    width: 100%;
    height: 260px;
    background-color: rgb(43, 3, 114);
    font-style: italic;
}
.white_boxflex{
    display: flex;

}
.budgetComponent_image{
    margin-top: 40px;
    margin-left: 100px;
    width: 800px;
    height: 450px;
}
.budgetAware_level1{
    text-align: center;
    margin-top: 20px;
    color: rgb(251, 249, 255);
    padding-top: 20px;
    font-size: 30px;
    font-style: normal;
}
.aboutbudgetwhite_box{
    width: 950px;
    height: 350px;
    margin-top: 60px;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: translateX(-50px);


}
/* toggleQuestion.css */
.wrapper {
    display: flex;
    height: 200vh;
    width: 600vw;
    margin-left: 20px;
    margin-top: 30px;
    
  }
  
  .according {
    width: 900px;
  }
  
  .item {
    background-color: #f0ebe1;
    margin-bottom: 5px;
    padding: 17px 20px;
    transition: background-color 0.5s ease; /* Example transition effect on background-color */
  }
  
  .title {
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: color 0.5s ease;
    font-size: 15px;
  }
  
  .content {
    color: rgb(10, 10, 10);
    display: none;
    transition: opacity 1s ease;
    opacity: 0;
    font-size: 15px;
    line-height: 1.6;
  }
  
  .show {
    display: block;
    opacity: 1;
  }
  