.pagenabtn{
    margin-left: 5px;
    
    width: 50px;
    height: 50px;
    font-family: "Kantumruy Pro", sans-serif;
    background-color: #a59f9f;
    color: #080707;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
.btnbody{
    margin-left: 20%;
    margin-top: -50px;
    display: flex;
    
}
.hoverbtn:hover{
    background-color: #610094 ;
    /* color: black; */
}