.Human_right{
    width: 100%;
    height: 40rem;
}
.Human_rightBoxmodel{
    display: flex;
        /* border: 1px solid black; */

}
.Human_box1{
    width: 350px;
    height: 450px;
    /* border: 1px solid black; */
    margin-left: 20rem;
    transform: translateY(-250px);
    background: rgb(251, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;


}
.Human_Fundamental{
    margin-left: 2rem;
    margin-top: 30px;
    font-size: 20px;
    font-family: serif;
    border-bottom: 1px solid  rgb(166, 152, 152);
    margin-right: 0.75rem;
    /* border: 1px solid black; */

  
}
.Human_info{
    margin-left: 3rem;
    line-height: 2.6;
    font-family: serif;
    margin-top: 20px;
}
.Human_mainBox{
    width: 40rem;
    /* height: 50rem; */
}
.Human_answer{
    margin-left: 10rem;
    padding-top: 90px;
    text-align: justify;
    width: 40rem;
    line-height: 1.7;
    background-color:white;
    word-spacing: 2.5;
    font-family: serif;
    


}
.Human_Question{
    font-family: sans-serif;
    font-size: 17px;
    background-color: rgb(245, 250, 249);
    margin-top: 25px;
    border-bottom: 1.5px solid rgb(73, 0, 128);
    /* border: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.Human_QuesBox{
    background-color: rgb(240, 248, 246);

}
.Human_Click{
    /* margin-left: 1rem; */
    font-size: 23px;
    font-family: serif;
    /* border-bottom: 1px solid rgb(175, 173, 173); */
}
.Human_ClickArow{
    display: flex;
}
.Human_arrowImage{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.Human_paragraph{
    margin-top: 20px;
    text-align: justify;
}
.Human_Duties{
    margin-top: 10px;
    margin-left: 60rem;
    font-family: serif;
    line-height: 1.6;
    position: sticky;
    text-align: justify;
    width: 700px;
    /* border: 1px solid  black; */
    
}
.imgae_human{
    margin-left: 60rem;
    transform: translateY(-380px);
    border: 1px solid white;

    /* background-color: rgb(47, 1, 100); */
}
.Ans{
   
}
/* .arrow-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  /* Style the arrow icon 
  .arrow-link i {
    margin-left: 5px;
  } */