
  .foter_box611 {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 440px;
    background-color:#100f12;
  }
  
  .foter_box71 {
    width: 100%;
    height: 550px;
    border: 1px solid black;
    background-color: #3F0071;
  }
  
  .foter_back11 {
    margin-left: 800px;

    color: white;
    margin-top: 300px;
    /* padding-top: ; */
  }
 
  .foter_aboutus1 {
    margin-left: 300px;
    color: white;
    margin-top: 50px;
    display: flex;
  }
  
  .foter_foter1 {
    margin-left: 65px;
    margin-top: 20px;
  }
  
  .foter_facebook1 {
    width: 55px;
    height: 53px;
    margin-left: 10px;
    padding-top: 7px;
  }
  
  .foter_Twitter1 {
    width: 40px;
    height: 43px;
    margin-left: 790px;
    /* margin-top: 5px; */
  }
  
  .foter_linkdil1 {
    width: 40px;
    height: 43px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .foter_icon21 {
    display: flex;
    margin-top: 50px;
  }
  
  .foter_this1 {
    margin-left: 600px;
    color: white;
    font-size: 10px;
    margin-top: 80px;
  }
  
  /* .bottom1:hover {
    border-bottom: 3px solid rgb(245, 6, 6);
  } */
  
  /* .top_foter1 {
    margin-top: 50px;
  } */
  .data_foter{
    margin-top: 17px ;
  }
  .foter_line{
    margin-top: 50px;
  }
  .footer_top{
    /* margin-top: px; */
    margin-left: 830px;
    color: white;
    text-decoration: none;
  }
 
  

  










  