.Army_img{
    width: 100%;
    height: 700px;
    border: 1px solid rgb(191, 187, 187);
}
.Army_marque{
    height: 40px;
    /* background-color: #3F0071; */
    color: rgb(29, 27, 27);
    font-family: serif;
}
.Army_marquee{
    padding-top: 10px;
}
.Army_bigBox{
    display: flex;
}
.Army_whiteBox{
    width: 300px;
    height: 350px;
    background-color: rgb(251, 251, 251);
    /* border: 1px solid black; */
    margin-left: 4rem;
    transform: translateY(-100px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.Army_smallBox{
    width: 86rem;
    border: 1px solid rgb(185, 184, 184);
    margin-left: 50px;
    margin-top: 40px;
}
.Army_logo{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
}
.Army_textandlogo{
    display: flex;
}
.Army_heading{
    margin-top: 90px;
    font-family: serif;
    font-size: 24px;
    border-bottom: 1px solid rgb(163, 161, 161);
}
.Army_insideBox{
    margin-left: 50px;
    margin-top: 30px;
    font-family: serif;
}
.Army_paragraph{
    margin-right: 70px;
    text-align: justify;
    line-height: 1.6;
    font-size: 17px;
}
.Army_list{
    margin-left: 20px;
    line-height: 1.6;
    font-family: serif;
    margin-right: 70px;
}
.boxTxt_Army{
    font-size: 17px;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: black;
  }

  th {
    background-color: #d0cece;
  }

  ul {
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
  }

  ul li {
    margin-bottom: 5px;
  }
  tr:hover {
    background-color: #cbc9ceae;
  }
  .youtvedio_army{
    margin-left: 90px;
    margin-top: 40px;
  }
  .Army_list{
    margin-left: 40px;
    margin-top: 20px;
    line-height: 1.6;
    font-family: serif;
    font-size: 16px;
  }
  .boxboxTxt_ArmyTxt_Army{
    margin-left: 20px;
    font-family: serif;
  }